# Generate our Core Patient Dataframe from the extracted data
just testing before putting it to .py file

In [1]:
import os
import pandas as pd
import numpy as np
import re
from functools import reduce
from sklearn.impute import SimpleImputer

from dfGenUtils import convertCategorical, genPatientDF, dropMissings, imputeMissings

In [2]:
patient_dir = "../data/patientData/"
graph_dir = "../data/graphs/"
output_dir = "../data/heorData/"

In [3]:
files = os.listdir(patient_dir)
files = [f for f in files if re.search("chart events|cross sect", f)]
files

['chart events_categorical_activity.csv',
 'chart events_categorical_demographics.csv',
 'chart events_categorical_diet.csv',
 'chart events_categorical_heart lung.csv',
 'chart events_categorical_mental drug.csv',
 'chart events_categorical_pain.csv',
 'chart events_categorical_physical assessment.csv',
 'chart events_numeric_demographics.csv',
 'chart events_numeric_heart lung rate.csv',
 'chart events_numeric_medical history.csv',
 'chart events_numeric_pain level.csv',
 'chart events_numeric_weight.csv',
 'lab tests_cross sect_antibodies.csv',
 'lab tests_cross sect_blood.csv',
 'lab tests_cross sect_breakdown products.csv',
 'lab tests_cross sect_enzymes.csv',
 'lab tests_cross sect_hepatitis.csv',
 'lab tests_cross sect_other lab.csv',
 'lab tests_cross sect_proteins.csv']

In [4]:
# let's check these out
for f in files:
    print(f)
    display(pd.read_csv(patient_dir + f).head())
    print("\n")

chart events_categorical_activity.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,4,Activity,Ambulate,1,10,0.1
1,4,Activity,Bedrest,5,10,0.5
2,4,Activity,Commode,4,10,0.4
3,4,Activity Tolerance,Good,3,10,0.3
4,4,Activity Tolerance,Tolerated Well,7,10,0.7

chart events_categorical_demographics.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,4,Family Communication,Family Called,1,3,0.333333
1,4,Marital Status,Single,1,1,1.000000
2,4,gender,F,1,1,1.000000
3,4,Family Communication,Family Visited,2,3,0.666667
4,52,Family Communication,Family Talked to MD,1,5,0.200000

chart events_categorical_diet.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,4,Braden Nutrition,Excellent,3,6,0.500
1,4,Braden Nutrition,Probably Inadequate,3,6,0.500
2,4,Diet Type,Diabetic,8,8,1.000
3,52,Braden Nutrition,Probably Inadequate,7,8,0.875
4,52,Braden Nutrition,Very Poor,1,8,0.125

chart events_categorical_heart lung.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,4,Heart Rhythm,Normal Sinus,26,30,0.866667
1,4,Heart Rhythm,ST (Sinus Tachycardia),4,30,0.133333
2,4,LLL Lung Sounds,Clear,1,9,0.111111
3,4,LLL Lung Sounds,Crackles,4,9,0.444444
4,4,LLL Lung Sounds,Diminished,4,9,0.444444

chart events_categorical_mental drug.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,188,Mental status,Forgets limitations,45,48,0.9375
1,188,Mental status,Oriented to own ability,3,48,0.0625
2,188,Recreational drug use,0,11,11,1.0000
3,236,Mental status,Oriented to own ability,8,8,1.0000
4,236,Recreational drug use,0,1,1,1.0000

chart events_categorical_pain.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,4,Pain Location,Not Indicated,8,8,1.000000
1,4,Pain Present,No,11,11,1.000000
2,52,Pain Cause,At Rest,2,2,1.000000
3,52,Pain Location,Abdominal,1,9,0.111111
4,52,Pain Location,Headache,5,9,0.555556

chart events_categorical_physical assessment.csv

,subject_id,label,value,num_occurences,total_counts,frequency
0,4,Abdominal Assessment,Soft,5,5,1.000000
1,4,Bowel Sounds,Present,5,5,1.000000
2,4,Braden Moisture,Occasionally Moist,2,6,0.333333
3,4,Braden Moisture,Rarely Moist,4,6,0.666667
4,4,Oral Cavity,Teeth/Tissue WNL,9,9,1.000000

chart events_numeric_demographics.csv

   subject_id  age
0           4   48
1          52   39
2          78   49
3         117   50
4         140   53

chart events_numeric_heart lung rate.csv

,subject_id,max_heart_rate,min_heart_rate,avg_heart_rate,max_resp_rate,min_resp_rate,avg_resp_rate
0,4,111.0,74.0,90.354839,32.0,18.0,25.333333
1,52,106.0,85.0,94.240000,27.0,11.0,17.607843
2,78,86.0,56.0,64.681818,24.0,11.0,17.000000
3,117,219.0,56.0,83.629191,34.0,9.0,21.513889
4,140,117.0,65.0,84.533333,28.0,8.0,18.911111

chart events_numeric_medical history.csv

,subject_id,anemia,angina,arrhythmias,asthma,cad,chf,copd,cva,diabetes_-_insulin,...,hepatitis,hypertension,liver_failure,mi,pvd,pacemaker,pancreatitis,renal_failure,seizures,smoker
0,188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,357,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,422,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,689,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

chart events_numeric_pain level.csv

,subject_id,Abdominal,Back,Both Legs,Chest Pain,Generalized,Headache,Incisional,Jaw,Left Arm,...,Right Elbow,Right Flank,Right Foot,Right Hip,Right Leg,Right Lower Quad,Right Lower Quadrant,Right Shoulder,Right Upper Quad,Right Upper Quadrant
0,52,2.000000,0.0,0.0,0.0,0.0,8.333333,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,117,0.000000,5.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,143,7.307692,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,172,0.000000,6.5,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,188,5.750000,6.0,0.0,0.0,0.0,0.000000,6.111111,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,6.0,0.0

chart events_numeric_weight.csv

   subject_id     max_wgt     min_wgt  wgt_change  loss_perc
0           4   53.599998   53.599998    0.000000    0.00000
1          52   81.300003   81.300003    0.000000    0.00000
2          78   72.400002   72.400002    0.000000    0.00000
3         117  108.099998   79.500000   28.599998    0.26457
4         143  130.500000  113.000000   17.500000    0.13410

lab tests_cross sect_antibodies.csv

,subject_id,anti_mitochondrial,anti_nuclear_titer,anti_nuclear,anti_smooth_muscle
0,252,-1.0,1.0,1.0,-1.0
1,279,0.0,-1.0,0.0,-1.0
2,357,-1.0,1.0,1.0,-1.0
3,433,-1.0,3.0,1.0,-1.0
4,634,1.0,-1.0,0.0,-1.0

lab tests_cross sect_blood.csv

,subject_id,min_fibrinogen,max_fibrinogen,avg_fibrinogen,min_platelet,max_platelet,avg_platelet,min_inr,max_inr,avg_inr,...,max_ptt,avg_ptt,first_ferritin,first_iron,first_iron_bind,first_transferrin,last_ferritin,last_iron,last_iron_bind,last_transferrin
0,4,NaN,NaN,NaN,201.0,388.0,286.428571,1.0,1.1,1.050000,...,33.2,32.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52,NaN,NaN,NaN,47.0,115.0,72.583333,1.7,2.7,2.241667,...,48.4,42.633333,640.0,90.0,185.0,142.0,NaN,NaN,NaN,NaN
2,78,NaN,NaN,NaN,45.0,53.0,47.750000,1.2,1.2,1.200000,...,39.0,38.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,117,79.0,253.0,158.25,24.0,98.0,52.565217,1.5,3.9,2.143750,...,150.0,56.434091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,140,NaN,NaN,NaN,65.0,86.0,72.666667,1.0,1.3,1.150000,...,31.5,30.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

lab tests_cross sect_breakdown products.csv

,subject_id,min_albumin,max_albumin,avg_albumin,avg_alb_ascites,min_bilirubin,max_bilirubin,avg_bilirubin,avg_bili_ascites,avg_bili_direct,avg_bili_indirect,min_creatinine,max_creatinine,avg_creatinine,avg_ck,avg_ck_iso,avg_creat_urine
0,4,2.8,2.8,2.800000,NaN,1.9,2.2,2.050000,NaN,1.500000,0.550000,0.4,0.5,0.450000,NaN,NaN,NaN
1,52,3.0,3.2,3.100000,NaN,8.2,15.7,11.363636,NaN,NaN,NaN,0.8,3.5,1.600000,NaN,NaN,125.5
2,78,2.7,3.1,2.866667,NaN,0.8,0.8,0.800000,NaN,NaN,NaN,0.5,0.8,0.600000,NaN,NaN,NaN
3,117,1.7,3.8,2.733333,NaN,3.1,54.0,30.846154,NaN,14.728571,9.885714,0.4,4.1,1.836735,45.0,NaN,137.0
4,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,0.8,0.766667,65.0,4.0,NaN

lab tests_cross sect_enzymes.csv

,subject_id,min_alt,max_alt,avg_alt,min_ast,max_ast,avg_ast,min_alkph,max_alkph,avg_alkph,min_ld,max_ld,avg_ld,min_ld_ascites,max_ld_ascites,avg_ld_ascites,min_lactate,max_lactate,avg_lactate
0,4,24.0,28.0,26.000000,64.0,69.0,66.500000,837.0,994.0,915.500000,330.0,330.0,330.000000,NaN,NaN,NaN,2.1,2.1,2.10000
1,52,22.0,30.0,25.636364,43.0,58.0,49.363636,55.0,100.0,77.363636,229.0,343.0,285.888889,NaN,NaN,NaN,NaN,NaN,NaN
2,78,52.0,52.0,52.000000,101.0,101.0,101.000000,129.0,129.0,129.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,117,46.0,2442.0,192.869565,83.0,9295.0,615.913043,103.0,364.0,164.434783,196.0,6570.0,577.473684,NaN,NaN,NaN,1.2,21.9,8.90625
4,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

lab tests_cross sect_hepatitis.csv

,subject_id,hep_b_surf_antibody,hep_b_surf_antigen,hep_c_antibody,hep_b_virus_antibody
0,226,-1,0.0,-1.0,0.0
1,252,4,0.0,0.0,0.0
2,279,0,0.0,0.0,0.0
3,314,0,0.0,2.0,3.0
4,357,4,0.0,0.0,0.0

lab tests_cross sect_other lab.csv

,subject_id,avg_phosphate,avg_gamma_glut,avg_amonia,avg_acetamin,avg_sodium,avg_potassium
0,4,3.450000,NaN,NaN,NaN,137.750000,3.537500
1,52,3.470000,NaN,38.0,NaN,134.916667,3.600000
2,78,3.166667,NaN,121.5,NaN,137.000000,3.580000
3,117,4.576087,NaN,26.0,NaN,137.472727,4.426316
4,140,3.133333,NaN,NaN,NaN,137.666667,4.333333

lab tests_cross sect_proteins.csv

,subject_id,min_protein,max_protein,avg_protein,avg_tot_protein,avg_urine_prot,avg_ascite_prot,avg_fetoprotein
0,4,30.0,30.0,30.0,NaN,NaN,NaN,NaN
1,52,NaN,NaN,NaN,NaN,18.0,NaN,NaN
2,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,117,500.0,500.0,500.0,5.05,145.0,NaN,NaN
4,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Import our cluster information
cluster_df = pd.read_csv(graph_dir + "cosine_cluster5.csv")
cluster_df.cluster.value_counts()

0    1462
1    1422
Name: cluster, dtype: int64

In [6]:
# Import our 30-day mortality information
mortality = pd.read_csv(patient_dir + "mortality.csv")
mortality.head()

   subject_id last_admission  death_date  time2event  mortality30
0        7275     2140-04-12  2140-05-08        26.0            1
1         357     2199-12-21  2201-08-02       589.0            0
2         878     2137-11-24  2137-12-11        17.0            1
3         794     2190-11-29  2191-09-19       294.0            0
4        1457     2189-01-25         NaN         NaN            0

## Generate the Dataframe
Steps:
  * load in every data frame and make it unique by patient
    * For categorical, we are going to just select the mode for each group and set it as the label. 
    * numeric is already unique by patient
  * join every dataframe by subject_id
  * split the dataframe by clusters and create a list of dfs
    * whole df, cluster1, cluster2, ..., clusterN
  * For each of the dataframes:
    * if a column is missing > 50% of values then drop
    * impute the average value for all other missing data
    * save and return

In [7]:
# generate our base patient dataframe
patient_df = genPatientDF(patient_dir, files, cluster_df, mortality)
patient_df.head()

,subject_id,activity,activity_tolerance,braden_activity,braden_mobility,family_communication,marital_status,race,gender,appetite,...,avg_potassium,min_protein,max_protein,avg_protein,avg_tot_protein,avg_urine_prot,avg_ascite_prot,avg_fetoprotein,cluster,mortality30
0,4,Bedrest,Tolerated Well,Walks Occasionally,No Limitations,Family Visited,Single,NaN,F,NaN,...,3.537500,30.0,30.0,30.0,NaN,NaN,NaN,NaN,1,0
1,52,Bedrest,Tolerated Well,Bedfast,Sl. Limited,Family Visited,Single,NaN,M,NaN,...,3.600000,NaN,NaN,NaN,NaN,18.0,NaN,NaN,1,0
2,78,Bedrest,Tolerated Well,Bedfast,No Limitations,Family Visited,A,NaN,M,NaN,...,3.580000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
3,117,Bedrest,Tolerated Well,Bedfast,Very Limited,Family Visited,Single,NaN,F,NaN,...,4.426316,500.0,500.0,500.0,5.05,145.0,NaN,NaN,1,1
4,140,Bedrest,Tolerated Well,Chairfast,No Limitations,Family Called,Divorced,NaN,M,NaN,...,4.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [8]:
# split our dataframes into a dictionary of dataframes
# includes a df of each cluster and the total dataframe
def splitPatientDFs(patient_df):
    split_dfs = {val:pd.DataFrame(df).drop(columns = 'cluster') 
                 for val, df in patient_df.groupby('cluster', as_index=False)}
    split_dfs['total'] = patient_df.drop(columns = 'cluster')

    return split_dfs 

split_dfs = splitPatientDFs(patient_df)
split_dfs

{0:       subject_id activity activity_tolerance     braden_activity  \
 109         2369  Bedrest     Tolerated Well             Bedfast
 115         2473  Bedrest     Tolerated Well             Bedfast
 136         3026  Bedrest     Tolerated Well             Bedfast
 542        11861  Bedrest     Tolerated Well             Bedfast
 546        11912  Bedrest     Tolerated Well             Bedfast
 ...          ...      ...                ...                 ...
 2864       99791  Bedrest     Tolerated Well  Walks Occasionally
 2865       99830  Bedrest     Tolerated Well             Bedfast
 2866       99836  Bedrest     Tolerated Well             Bedfast
 2867       99862  Bedrest     Tolerated Well             Bedfast
 2868       99923  Bedrest     Tolerated Well             Bedfast

          braden_mobility family_communication marital_status  \
 109   Slight Limitations       Family Visited        Married
 115          Sl. Limited       Family Visited         Single
 136         Very Limited        Family Called        Married
 542       No Limitations       Family Visited         Single
 546          Sl. Limited       Family Visited        Married
 ...                  ...                  ...            ...
 2864  Slight Limitations  Family Talked to MD        Married
 2865        Very Limited       Family Visited            NaN
 2866        Very Limited       Family Visited            NaN
 2867      No Limitations       Family Visited        Married
 2868  Slight Limitations        Family Called        Married

                          race gender      appetite  ...  avg_sodium  \
 109                     White      M          Fair  ...  133.444444
 115                     White      M          Good  ...  135.730769
 136                     White      M          Good  ...  138.189189
 542           Black / African      F          Fair  ...  137.315942
 546                     White      F  Not assessed  ...  138.375000
 ...                       ...    ...           ...  ...         ...
 2864                    White      M          Fair  ...  141.300000
 2865  Unknown / Not Specified      M           NaN  ...  138.688889
 2866         Unable to Obtain      F           NaN  ...  143.546392
 2867                    White      F          Good  ...  136.250000
 2868                    White      M          Fair  ...  131.000000

      avg_potassium min_protein max_protein avg_protein avg_tot_protein  \
 109       3.874286         NaN         NaN         NaN             6.1
 115       4.180769         NaN         NaN         NaN             NaN
 136       3.975676         NaN         NaN         NaN             NaN
 542       4.087390        25.0        30.0   29.583333            10.1
 546       3.682353         NaN         NaN         NaN             NaN
 ...            ...         ...         ...         ...             ...
 2864      3.820000        30.0        30.0   30.000000             NaN
 2865      4.220000        30.0        30.0   30.000000             4.3
 2866      3.696907        25.0        30.0   27.000000             NaN
 2867      4.175000         NaN         NaN         NaN             NaN
 2868      4.014815         NaN         NaN         NaN             NaN

      avg_urine_prot avg_ascite_prot avg_fetoprotein mortality30
 109             NaN             NaN             NaN           0
 115             NaN             NaN             NaN           0
 136             NaN             NaN             NaN           0
 542             NaN             NaN             NaN           0
 546             NaN        0.800000             NaN           0
 ...             ...             ...             ...         ...
 2864            NaN             NaN             NaN           0
 2865            NaN             NaN             NaN           0
 2866            NaN        1.233333             NaN           0
 2867            NaN             NaN             NaN           0
 2868            9.0             NaN             NaN           0

 [1453 rows x 186 columns],
 1:       subject_id activity activity_tolerance     braden_activity  \
 0              4  Bedrest     Tolerated Well  Walks Occasionally
 1             52  Bedrest     Tolerated Well             Bedfast
 2             78  Bedrest     Tolerated Well             Bedfast
 3            117  Bedrest     Tolerated Well             Bedfast
 4            140  Bedrest     Tolerated Well           Chairfast
 ...          ...      ...                ...                 ...
 1500       32781  Bedrest     Tolerated Well             Bedfast
 1535       41550  Bedrest     Tolerated Well             Bedfast
 1666       48346  Bedrest     Tolerated Well             Bedfast
 2105       66656  Bedrest               Good             Bedfast
 2382       78737  Bedrest     Tolerated Well             Bedfast

           braden_mobility family_communication marital_status  \
 0          No Limitations       Family Visited         Single
 1             Sl. Limited       Family Visited         Single
 2          No Limitations       Family Visited              A
 3            Very Limited       Family Visited         Single
 4          No Limitations        Family Called       Divorced
 ...                   ...                  ...            ...
 1500         Very Limited        Family Called            NaN
 1535  Completely Immobile       Family Visited            NaN
 1666   Slight Limitations                  NaN         Single
 2105   Slight Limitations       Family Visited        Widowed
 2382         Very Limited                  NaN         Single

                   race gender appetite  ...  avg_sodium avg_potassium  \
 0                  NaN      F      NaN  ...  137.750000      3.537500
 1                  NaN      M      NaN  ...  134.916667      3.600000
 2                  NaN      M      NaN  ...  137.000000      3.580000
 3                  NaN      F      NaN  ...  137.472727      4.426316
 4                  NaN      M      NaN  ...  137.666667      4.333333
 ...                ...    ...      ...  ...         ...           ...
 1500               NaN      M      NaN  ...  143.000000      3.942857
 1535             White      M      NaN  ...  141.000000      5.728571
 1666             White      M      NaN  ...  143.000000      4.166667
 2105  Unable to Obtain      M      NaN  ...  138.000000      3.792308
 2382             White      M      NaN  ...  140.000000      3.533333

      min_protein max_protein avg_protein avg_tot_protein avg_urine_prot  \
 0           30.0        30.0        30.0             NaN            NaN
 1            NaN         NaN         NaN             NaN           18.0
 2            NaN         NaN         NaN             NaN            NaN
 3          500.0       500.0       500.0            5.05          145.0
 4            NaN         NaN         NaN             NaN            NaN
 ...          ...         ...         ...             ...            ...
 1500         NaN         NaN         NaN             NaN            NaN
 1535         NaN         NaN         NaN             NaN            NaN
 1666         NaN         NaN         NaN             NaN            NaN
 2105         NaN         NaN         NaN            3.60            NaN
 2382         NaN         NaN         NaN             NaN            NaN

      avg_ascite_prot avg_fetoprotein mortality30
 0                NaN             NaN           0
 1                NaN             NaN           0
 2                NaN             NaN           0
 3                NaN             NaN           1
 4                NaN             NaN           0
 ...              ...             ...         ...
 1500             NaN             NaN           0
 1535             NaN             NaN           1
 1666             NaN             NaN           0
 2105             NaN             NaN           1
 2382             NaN             NaN           0

 [1416 rows x 186 columns],
 'total':       subject_id activity activity_tolerance     braden_activity  \
 0              4  Bedrest     Tolerated Well  Walks Occasionally
 1             52  Bedrest     Tolerated Well             Bedfast
 2             78  Bedrest     Tolerated Well             Bedfast
 3            117  Bedrest     Tolerated Well             Bedfast
 4            140  Bedrest     Tolerated Well           Chairfast
 ...          ...      ...                ...                 ...
 2864       99791  Bedrest     Tolerated Well  Walks Occasionally
 2865       99830  Bedrest     Tolerated Well             Bedfast
 2866       99836  Bedrest     Tolerated Well             Bedfast
 2867       99862  Bedrest     Tolerated Well             Bedfast
 2868       99923  Bedrest     Tolerated Well             Bedfast

          braden_mobility family_communication marital_status  \
 0         No Limitations       Family Visited         Single
 1            Sl. Limited       Family Visited         Single
 2         No Limitations       Family Visited              A
 3           Very Limited       Family Visited         Single
 4         No Limitations        Family Called       Divorced
 ...                  ...                  ...            ...
 2864  Slight Limitations  Family Talked to MD        Married
 2865        Very Limited       Family Visited            NaN
 2866        Very Limited       Family Visited            NaN
 2867      No Limitations       Family Visited        Married
 2868  Slight Limitations        Family Called        Married

                          race gender appetite  ...  avg_sodium avg_potassium  \
 0                         NaN      F      NaN  ...  137.750000      3.537500
 1                         NaN      M      NaN  ...  134.916667      3.600000
 2                         NaN      M      NaN  ...  137.000000      3.580000
 3                         NaN      F      NaN  ...  137.472727      4.426316
 4                         NaN      M      NaN  ...  137.666667      4.333333
 ...                       ...    ...      ...  ...         ...           ...
 2864                    White      M     Fair  ...  141.300000      3.820000
 2865  Unknown / Not Specified      M      NaN  ...  138.688889      4.220000
 2866         Unable to Obtain      F      NaN  ...  143.546392      3.696907
 2867                    White      F     Good  ...  136.250000      4.175000
 2868                    White      M     Fair  ...  131.000000      4.014815

      min_protein max_protein avg_protein avg_tot_protein avg_urine_prot  \
 0           30.0        30.0        30.0             NaN            NaN
 1            NaN         NaN         NaN             NaN           18.0
 2            NaN         NaN         NaN             NaN            NaN
 3          500.0       500.0       500.0            5.05          145.0
 4            NaN         NaN         NaN             NaN            NaN
 ...          ...         ...         ...             ...            ...
 2864        30.0        30.0        30.0             NaN            NaN
 2865        30.0        30.0        30.0            4.30            NaN
 2866        25.0        30.0        27.0             NaN            NaN
 2867         NaN         NaN         NaN             NaN            NaN
 2868         NaN         NaN         NaN             NaN            9.0

      avg_ascite_prot avg_fetoprotein mortality30
 0                NaN             NaN           0
 1                NaN             NaN           0
 2                NaN             NaN           0
 3                NaN             NaN           1
 4                NaN             NaN           0
 ...              ...             ...         ...
 2864             NaN             NaN           0
 2865             NaN             NaN           0
 2866        1.233333             NaN           0
 2867             NaN             NaN           0
 2868             NaN             NaN           0

 [2869 rows x 186 columns]}

In [9]:
missing_percent = .5
for cluster, df in split_dfs.items():
    print(cluster)
    # process the data
    missing_df = dropMissings(df, missing_percent)
    imputed_df = imputeMissings(missing_df)
    
    # update the dictionary
    split_dfs[cluster] = imputed_df

0
1
total

In [10]:
# now export dataframes 
for cluster, df in split_dfs.items():
    df.to_csv(output_dir + f"{cluster}_patient_df.csv", index = False)